---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import DocCard from "../../components/DocCard.astro";
import { getCollection } from "astro:content";
import Prose from "../../components/Prose.astro";
import DocsIntro from "../../content/docs_intro.mdx";

const docs = await getCollection("docs");
---

<Layout title="Docs">
  <div class="w-full md:w-7/10">
    <p
      class="text-base/7 md:text-lg text-pretty mb-4 mt-1 md:my-4 hyphens-auto"
    >
      Hi there! In the articles below, we explain everything you need to know to
      get started with CIfly. For further background, you may read up on the
      foundations of CIfly in <a
        class="text-blue-700 dark:text-blue-400"
        href="https://arxiv.org/abs/2506.15758">this paper</a
      >. Moreover, we provide further examples of applying CIfly to causal
      inference tasks <a
        class="text-blue-700 dark:text-blue-400"
        href="/applications/">here</a
      >.
    </p>
    <ul class="flex flex-col">
      {
        docs
          .sort((a, b) => (a.data.number < b.data.number ? -1 : 1))
          .map((doc) => (
            <li>
              <DocCard doc={doc} />
            </li>
          ))
      }
    </ul>
  </div>
</Layout>
