@import "tailwindcss";
@theme {
	--color-code-bg: #eff1f5;
}
@plugin "@tailwindcss/typography";
@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));
/* Light mode */
@media (prefers-color-scheme: light) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-light, inherit) !important;
    background-color: var(--shiki-light-bg, transparent) !important;
    font-style: var(--shiki-light-font-style, normal) !important;
    font-weight: var(--shiki-light-font-weight, normal) !important;
    text-decoration: var(--shiki-light-text-decoration, none) !important;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark, inherit) !important;
    background-color: var(--shiki-dark-bg, transparent) !important;
    font-style: var(--shiki-dark-font-style, normal) !important;
    font-weight: var(--shiki-dark-font-weight, normal) !important;
    text-decoration: var(--shiki-dark-text-decoration, none) !important;
  }
}
