---
import "../styles/global.css";
const { applications, darker, small, truncate } = Astro.props;
---

{
  applications.length > 0 && (
    <div
  class:list={["font-bold mr-1 md:mr-2", { "text-sm md:text-base": small }, { truncate: truncate }]}
    >
      Applications:
    </div>
    <div
  class:list={[{"text-gray-800 dark:text-gray-200": darker}, {"text-sm md:text-base": small }, { truncate: truncate }]}
    >
      {applications.map((application, index) => (
        <>
          <a href={`/applications/${application.id}/`} class="text-blue-700 dark:text-blue-400">
            {application.data.title}
          </a>
          {index < applications.length - 1 && <span>, </span>}
        </>
      ))}
    </div>
  )
}
