<section
  class="w-full bg-white border border-blue-600 rounded-lg shadow-sm p-3"
>
  <p class="text-blue-700 font-extrabold md:text-lg mb-4 md:ml-1">
    <slot name="title" />
  </p>
  <slot />
</section>
