---
const { class: className, ...rest } = Astro.props;
---

<section
  class:list={[
    "w-full border border-gray-300 rounded-lg shadow-sm p-3",
    className,
  ]}
  {...rest}
>
  <p
    class="text-blue-700 dark:text-blue-400 font-extrabold md:text-xl mb-4 md:ml-1"
  >
    <slot name="title" />
  </p>
  <slot />
</section>
