---
import LeftArrowSvg from "./LeftArrowSvg.astro";
import RightArrowSvg from "./RightArrowSvg.astro";
---

<div
  class="w-full md:w-3/4 mx-auto relative bg-white overflow-hidden carousel mt-1 mb-2"
>
  <div>
    <slot />
  </div>

  <div class="flex absolute top-6 md:top-7 right-1 md:right-0">
    <div class="flex items-center">
      <button
        class="prev bg-transparent px-1 md:px-3 h-full hover:text-gray-500 cursor-pointer flex items-center justify-center"
      >
        <LeftArrowSvg />
      </button>
    </div>
    <div class="flex items-center">
      <button
        class="next bg-transparent px-1 md:px-3 h-full hover:text-gray-500 cursor-pointer flex items-center justify-center"
      >
        <RightArrowSvg />
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const carousels = document.querySelectorAll("[class~='carousel']");
    carousels.forEach((carousel) => {
      const slides = carousel.querySelectorAll(".carousel-slide");
      const prevBtn = carousel.querySelector("[class~='prev']");
      const nextBtn = carousel.querySelector("[class~='next']");
      let currentSlide = 0;

      function showSlide(index) {
        slides.forEach((slide, i) => {
          slide.classList.toggle("hidden", i !== index);
        });
      }

      prevBtn.addEventListener("click", () => {
        currentSlide = (currentSlide - 1 + slides.length) % slides.length;
        showSlide(currentSlide);
      });

      nextBtn.addEventListener("click", () => {
        currentSlide = (currentSlide + 1) % slides.length;
        showSlide(currentSlide);
      });

      showSlide(currentSlide);
    });
  });
</script>
