<div
  class="w-full md:w-3/4 mx-auto relative bg-white overflow-hidden carousel mt-1 mb-2"
>
  <div>
    <slot />
  </div>

  <div class="flex absolute top-6 md:top-7 right-1 md:right-0">
    <div class="flex items-center">
      <button
        class="prev bg-transparent px-1 md:px-3 h-full hover:text-gray-600 cursor-pointer flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-5 md:size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
        </svg>
      </button>
    </div>
    <div class="flex items-center">
      <button
        class="next bg-transparent px-1 md:px-3 h-full hover:text-gray-600 cursor-pointer flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-5 md:size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const carousels = document.querySelectorAll("[class~='carousel']");
    carousels.forEach((carousel) => {
      const slides = carousel.querySelectorAll(".carousel-slide");
      console.log(slides);
      const prevBtn = carousel.querySelector("[class~='prev']");
      const nextBtn = carousel.querySelector("[class~='next']");
      let currentSlide = 0;

      function showSlide(index) {
        slides.forEach((slide, i) => {
          slide.classList.toggle("hidden", i !== index);
        });
      }

      prevBtn.addEventListener("click", () => {
        currentSlide = (currentSlide - 1 + slides.length) % slides.length;
        showSlide(currentSlide);
      });

      nextBtn.addEventListener("click", () => {
        currentSlide = (currentSlide + 1) % slides.length;
        showSlide(currentSlide);
      });

      showSlide(currentSlide);
    });
  });
</script>
