---
import { Code } from "astro:components";
import { addCopyButton, addHeader } from "../shiki/transformers.ts";
const { id, largeText } = Astro.props;
import { getEntry } from "astro:content";
const code_raw = await getEntry("code_raw", id);
const lang = id.split(".").pop().toLowerCase();
import customCatppucinLatte from "../shiki/theme/catppuccin-latte.json";
---

<div class:list={["text-sm", { "md:text-base": largeText }]}>
  <Code
    code={code_raw.data.raw}
    lang={lang}
    theme={customCatppucinLatte}
    transformers={[addHeader(id, true)]}
    class:list={[
      "font-mono p-2 w-full text-sm/6",
      { "md:text-base": largeText },
    ]}
  />
</div>
