---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="max-w-screen-lg mx-auto">
    <div
      class="border-b border-blue-700 dark:border-blue-400 flex flex-wrap items-center justify-between py-3 md:py-4 px-2 mx-2"
    >
      <a
        href="/"
        class="text-2xl md:text-3xl font-extrabold whitespace-nowrap text-blue-800 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-300"
        >CIfly</a
      >

      <div
        class="flex flex-row items-center md:order-2 space-x-3 rtl:space-x-reverse"
      >
        <a href="https://github.com/mwien/CIfly" target="_blank">
          <span class="sr-only">CIfly source code on Github</span>
          <svg class="w-6 h-6 md:w-8 md:h-8" viewBox="0 0 16 16">
            <path
              fill="currentColor"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path>
          </svg>
        </a>
        <a href="https://arxiv.org/" target="_blank">
          <span class="sr-only">CIfly paper on arXiv</span>
          <svg
            class="w-6 h-6 md:w-8 md:h-8"
            id="logomark"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 17.732 24.269"
            ><g id="tiny"
              ><path
                d="M573.549,280.916l2.266,2.738,6.674-7.84c.353-.47.52-.717.353-1.117a1.218,1.218,0,0,0-1.061-.748h0a.953.953,0,0,0-.712.262Z"
                transform="translate(-566.984 -271.548)"
                fill="#bdb9b4"></path><path
                d="M579.525,282.225l-10.606-10.174a1.413,1.413,0,0,0-.834-.5,1.09,1.09,0,0,0-1.027.66c-.167.4-.047.681.319,1.206l8.44,10.242h0l-6.282,7.716a1.336,1.336,0,0,0-.323,1.3,1.114,1.114,0,0,0,1.04.69A.992.992,0,0,0,571,293l8.519-7.92A1.924,1.924,0,0,0,579.525,282.225Z"
                transform="translate(-566.984 -271.548)"
                fill="#b31b1b"></path><path
                d="M584.32,293.912l-8.525-10.275,0,0L573.53,280.9l-1.389,1.254a2.063,2.063,0,0,0,0,2.965l10.812,10.419a.925.925,0,0,0,.742.282,1.039,1.039,0,0,0,.953-.667A1.261,1.261,0,0,0,584.32,293.912Z"
                transform="translate(-566.984 -271.548)"
                fill="#bdb9b4"></path></g
            ></svg
          >
        </a>
      </div>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400"
        aria-controls="navbar-default"
        aria-expanded="false"
        id="extended-navbar-button"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
          id="hamburger-svg"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-default"
      >
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:md:bg-gray-900"
        >
          <li>
            <HeaderLink href="/docs/">Documentation</HeaderLink>
          </li>
          <li>
            <HeaderLink href="/applications/">Applications</HeaderLink>
          </li>
          <li>
            <HeaderLink href="/ruletables/">Rule tables</HeaderLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  const toggleButton = document.getElementById("extended-navbar-button");
  const menu = document.getElementById("navbar-default");
  const hamburgerIcon = toggleButton.querySelector("hamburger-svg");
  toggleButton.addEventListener("click", function () {
    menu.classList.toggle("hidden");

    const isExpanded = toggleButton.getAttribute("aria-expanded") === "true";
    toggleButton.setAttribute("aria-expanded", !isExpanded);
    menu.setAttribute("aria-hidden", isExpanded);
    hamburgerIcon.setAttribute("aria-hidden", isExpanded);
  });
</script>
