---

---

<div
  class="prose max-w-none prose-inline-code:bg-gray-100 prose-inline-code:text-gray-700 prose-inline-code:font-mono prose-inline-code:text-sm prose-inline-code:font-medium prose-inline-code:px-1.5 prose-inline-code:py-0.5 prose-inline-code:rounded prose-inline-code:before:content-none prose-inline-code:after:content-none prose-headings:text-blue-700 prose-headings:font-extrabold prose-a:text-blue-700 prose-a:no-underline"
>
  <slot />
</div>
