---
import { Code } from "astro:components";
import { addCopyButton, addHeader } from "../shiki/transformers.ts";
const {
  id,
  largeText,
  suppressButton,
  withHeader,
  wrapperClass: wrapperClass,
  codeClass: codeClass,
  ...rest
} = Astro.props;
import { getEntry } from "astro:content";
const ruletable_raw = await getEntry("ruletables_raw", id);
import ciflyGrammar from "../shiki/grammar/cifly.tmLanguage.json";
import customCatppucinLatte from "../shiki/theme/catppuccin-latte.json";
---

<div
  class:list={["text-sm", wrapperClass, { "md:text-base": largeText }]}
  {...rest}
>
  <Code
    code={ruletable_raw.data.raw}
    lang={ciflyGrammar}
    theme={customCatppucinLatte}
    transformers={[
      ...(!suppressButton ? [addCopyButton()] : []),
      ...(withHeader ? [addHeader(id + ".txt")] : []),
    ]}
    class:list={["p-2 text-sm/6", codeClass, { "md:text-base": largeText }]}
    id={id}
  />
</div>
